@import url("https://fonts.googleapis.com/css?family=Coiny");

.about {
    width: 100%;
    min-height: 100vh;
    padding: 50px 20px; 
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #FFF8E7;
}
.section1{
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content: center;
}
.section1_content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0px;
}
.section1_content h1{
    font-size: 6vh;
}
.section1_content p{
    font-size: 2.7vh;
    line-height: 25px;
}
.section1img{
    width: 40%;
}
.section1img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.section2{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10%;
}
.section2content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0px;
}
.section2_img{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.imgsection2{
    display: flex;
    width: 100%;
    height: 50%;
    gap: 10px;
    
}
.imgsection3{
    display: flex;
    width: 100%;
    height: 50%;
    gap: 10px;
}
.imgsection2 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #CC7722;
    border-radius: 15px;
    
}
.imgsection3 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #CC7722;
    border-radius: 15px;
    
}
.section2content h2{
    font-size: 6vh;
}
.section2content p{
    font-size: 2.7vh;
    line-height: 25px;
}

.imgsection2 img:nth-child(1) {
    border-radius: 50px 10px 50px 10px;
}

.imgsection2 img:nth-child(2) {
    border-radius: 10px 50px 10px 50px;
}

.imgsection3 img:nth-child(1) {
    border-radius: 10px 50px 10px 50px;
}

.imgsection3 img:nth-child(2) {
    border-radius: 50px 10px 50px 10px;
}


.section4 {
    width: 90%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; 
}
.section4 h2{
    font-size: 6vh;
    text-align: justify;
}
.section4 h3{
    font-size: 6vh;
    text-align: justify;
}
.section4 p{
    font-size: 2.7vh;
    line-height: 26px;
}
.section4 h3 {
    color: #CC7722;
    margin-top: -15px;
}

.section5 {
    width: 95%; 
    display: flex;
    gap: 60px;
    justify-content: center;
    
}

.section5part1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; 
}

.section5part2 {
    width: 200px;
    height: auto;
    object-fit: contain; 
    -webkit-animation: bounce 0.4s ease infinite alternate;
    animation: bounce 0.4s ease infinite alternate; 
}
.section5part2 img{
    border-radius: 20px;
}

.section5part2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@keyframes bounce {
    0% {
        text-shadow: 0 5px 0 #ccc, 0 2px 3px rgba(0, 0, 0, 1);  
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
        text-shadow: 0 50px 0 #000, 0 0px 20px rgba(0, 0, 0, 0.8);
    }
}
@-webkit-keyframes bounce {
    0% {
        text-shadow: 0 5px 0 #ccc, 0 2px 3px rgba(0, 0, 0, 1);  
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
        text-shadow: 0 50px 0 #000, 0 0px 20px rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 768px) {
    .section1{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .section1_content{
        width: 90%;
    }
    .section1_content h1{
        font-size: 4vh;
    }
    .section1_content p{
        font-size: 2vh;
        line-height:auto;
    }
    .section1img{
        width: 90%;
    }
    .section2{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .section2content{
        width: 90%;
    }
    .section2content h2{
        font-size: 4vh;
    }
    .section2content p{
        font-size: 2vh;
        line-height:auto;
    }
    .section2_img{
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .imgsection2{
        width: 100%;
        height: 130px;
    }
    .imgsection3{
        width: 100%;
        height: 130px;
    }
    .section5{
        flex-direction: column;
    }
    .section4 h2{
        font-size: 4vh;
        text-align: start;
    }
    .section4 h3{
        font-size: 4vh;
    }
    .section4 p{
        font-size: 2vh;
        line-height: 25px;
        text-align: justify;
    }
    .section5{
        align-items: center;
    }
}
@media (min-width: 1366px) and (max-width: 1920px) {
    .section1_content p{
        line-height: 35px;
    }
    .section2content p{
        line-height: 35px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    
}
@media (min-width: 2560px) {
    .section1_content p{
        font-size: 3vh;
        line-height: 70px;
    }
    .section2content p{
        font-size: 3vh;
        line-height: 70px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait ){
    .section1{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .section1_content{
        width: 90%;
    }
    .section1_content h1{
        font-size: 3vh;
        
    }
    .section1_content p{
        font-size: 2vh;
        line-height:60px;
    }
    .section1img{
        width: 90%;
    }
    .section2{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .section2content{
        width: 90%;
    }
    .section2content h2{
        font-size: 3vh;
    }
    .section2content p{
        font-size: 2vh;
        line-height:60px;
    }
    .section2_img{
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .imgsection2{
        width: 100%;
        height: 250px;
    }
    .imgsection3{
        width: 100%;
        height: 250px;
    }
    .section5{
        flex-direction: column;
    }
    .section4 h2{
        font-size: 4vh;
        text-align: start;
    }
    .section4 h3{
        font-size: 4vh;
    }
    .section4 p{
        font-size: 1vh;
        line-height:60px;
    }
    .section5{
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .section1{
        flex-direction: row;
        /* align-items: start; */
    }
    .section1_content h1{
        font-size: 7vh;
    }
    .section1_content p{
        font-size: 3vh;
    }
    .section2{
        flex-direction: row;
    }
    .section2content h2{
        font-size: 7vh;
    }
    .section2content p{
        font-size: 3vh;
    }
    .section5{
        flex-direction: row;
    }
    .section4 h2{
        font-size: 5vh;
    }
    .section4 h3{
        font-size: 5vh;
    }
    .section4 p{
        font-size: 2vh;
        line-height: 25px;
    }
}
@media (min-width: 1920px) {
}

   
@media (min-width: 1366px) and (max-width: 1920px) {
    .section4 p{
        font-size: 3vh;
        line-height: 50px;
    }
}
   
@media (min-width: 2560px) {
    .section4 p{
        font-size: 3vh;
        line-height: 80px;
    }
}