/* Original Styles */
.curriculum{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    align-items: center;
    background-color: #FFF8E7;
    /* background: url('https://s3-alpha-sig.figma.com/img/67be/156f/ca9fcea48dde493454cfdceb63e7d892?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSnm3Iw5~WvJ7jy6oma0RLyZM1ApHST-tvB9ccu2FpuRRk18O7vOngqRwcAbtk~hU~Pvpn-TIEVv7Tr1mvIbQd8TyMa6PCk14e-sDfRGyH1PU~KtOzWHFCcNfmBJhmDf-NGGmlJdXbMmi8v8VWQgqwyGaPdaVfL-PyssDs~bCMOtQBX9yK6gGe2aEm3d936LdDxZwg7WozpWZeMtJUUUQnPCOXPZ0wdP~DStmQw7~lotmt2tT5UlOfu4eVldfVraQ0GkvMEDDDMdqozk84yJATTv9k8-xZcE7LTtk~KYI6LscSIU-mHSR3BfNJRrZVMnaOkI~9UPBknl8vRPwnZnHw__'); */
}

.curriculumhead{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 60px;
    gap: 10px;
}
.curriculumhead h1{
    align-items:center;
    font-size: 7vh;
}
.linecurriculum{
    background-color: #CC7722;
    height: 2px;
    border-radius: 10px;
    width: auto;
}
.crfirstdiv{
    display: flex;
    width: 90%;
    border: 1px solid #B05200;
    border-radius: 10px;
}
.crfirstdiv  p{
    font-size: 2.5vh;
}
.crseconddiv p{
    font-size: 2.5vh;
}
.crseconddiv{
    width: 90%;
    display: flex;
    border: 1px solid #B05200;
    border-radius: 10px;
}

.firstdivleft{
    padding: 20px;
    width: 50%;
    background-color: #F06F0887;
    border-radius:10px 0px 0px 10px ;
}
.firstdivright{
    padding: 20px;
    width: 50%;
    background-color: #F7AF71;
    border-radius:0px 10px 10px 0px ;
    border-left:1px solid #B05200 ;
}
.seconddivleft{
    padding: 20px;
    border-radius:10px 0px 0px 10px ;
    width: 50%;
    background-color: #F69F5A7A;
}
.seconddivright{
    padding: 20px;
    border-left:1px solid #B05200 ;
    width: 50%;
    border-radius:0px 10px 10px 0px ;
    background-color: #FBCDA3;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    

    .curriculumhead{
        margin-left: 30px;
    }

    .curriculumhead h1{
        font-size: 6vw;
    }

    .linecurriculum{
        width: 120px;
    }

    .crfirstdiv, .crseconddiv {
        flex-direction: column;
        width: 100%;
    }

    .firstdivleft, .firstdivright, .seconddivleft, .seconddivright {
        width: 100%;
        /* border-radius: 10px; */
    }

    .firstdivleft, .firstdivright {
        padding: 15px;
    }

    .seconddivleft, .seconddivright {
        padding: 15px;
    }

    .crfirstdiv p, .crseconddiv p {
        font-size: 2.2vh;
    }
    .firstdivleft{
        border-radius: 10px 10px 0px 0px;
    }
    .firstdivright{
        border-radius: 0px 0px 10px 10px;
        border-top:1px solid #B05200 ;
        border-left: none;
    }
    .seconddivleft{
        border-radius: 10px 10px 0px 0px;
    }
    .seconddivright{
        border-radius: 0px 0px 10px 10px;
        border-top:1px solid #B05200 ;
        border-left: none;
    }
    .curriculum{
        padding: 10px;
        gap: 10px;
    }

    .curriculumhead h1{
        font-size: 8vw;
    }

    .linecurriculum{
        width: 100px;
    }

    .crfirstdiv, .crseconddiv {
        flex-direction: column;
        width: 100%;
    }

    .firstdivleft, .firstdivright, .seconddivleft, .seconddivright {
        width: 100%;
        padding: 10px;
    }

    .crfirstdiv p, .crseconddiv p {
        font-size: 2vh;
    }
}
/* portrait mobile and tablet */
@media (min-width: 768px) and (max-width: 1024px){
    .curriculumhead h1{
       font-size: 4vh;
    }
   }
   
   /* desktop mobile view */
   @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .curriculumhead{
        margin-left: 30px;
    }

    .curriculumhead h1{
        font-size: 3vh;
    }

    .linecurriculum{
        width: auto;
    }

    .crfirstdiv, .crseconddiv {
        flex-direction: column;
        width: 100%;
    }

    .firstdivleft, .firstdivright, .seconddivleft, .seconddivright {
        width: 100%;
        /* border-radius: 10px; */
    }

    .firstdivleft, .firstdivright {
        padding: 15px;
    }

    .seconddivleft, .seconddivright {
        padding: 15px;
    }

   
    .firstdivleft{
        border-radius: 10px 10px 0px 0px;
    }
    .firstdivright{
        border-radius: 0px 0px 10px 10px;
        border-top:1px solid #B05200 ;
        border-left: none;
    }
    .seconddivleft{
        border-radius: 10px 10px 0px 0px;
    }
    .seconddivright{
        border-radius: 0px 0px 10px 10px;
        border-top:1px solid #B05200 ;
        border-left: none;
    }
    .curriculum{
        padding: 20px;
        gap: 30px;
    }

    

    .linecurriculum{
        width: 100px;
    }

    .crfirstdiv, .crseconddiv {
        flex-direction: column;
        width: 95%;
    }

    .firstdivleft, .firstdivright, .seconddivleft, .seconddivright {
        width: 100%;
        padding: 10px;
    }

    .crfirstdiv p, .crseconddiv p {
        font-size: 1vh;
    }
   }
   
   @media (min-width: 1920px) {
  
   }
@media only screen and (max-width: 480px) {
    /* .curriculum{
        padding: 10px;
        gap: 10px;
    }

    .curriculumhead h1{
        font-size: 8vw;
    }

    .linecurriculum{
        width: 100px;
    }

    .crfirstdiv, .crseconddiv {
        flex-direction: column;
        width: 100%;
    }

    .firstdivleft, .firstdivright, .seconddivleft, .seconddivright {
        width: 100%;
        padding: 10px;
    }

    .crfirstdiv p, .crseconddiv p {
        font-size: 2vh;
    } */
}
