
.container {
  background: url('https://s3-alpha-sig.figma.com/img/67be/156f/ca9fcea48dde493454cfdceb63e7d892?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSnm3Iw5~WvJ7jy6oma0RLyZM1ApHST-tvB9ccu2FpuRRk18O7vOngqRwcAbtk~hU~Pvpn-TIEVv7Tr1mvIbQd8TyMa6PCk14e-sDfRGyH1PU~KtOzWHFCcNfmBJhmDf-NGGmlJdXbMmi8v8VWQgqwyGaPdaVfL-PyssDs~bCMOtQBX9yK6gGe2aEm3d936LdDxZwg7WozpWZeMtJUUUQnPCOXPZ0wdP~DStmQw7~lotmt2tT5UlOfu4eVldfVraQ0GkvMEDDDMdqozk84yJATTv9k8-xZcE7LTtk~KYI6LscSIU-mHSR3BfNJRrZVMnaOkI~9UPBknl8vRPwnZnHw__');
  padding: 20px;
  width: 100%;
  color: #333;
}

.detailnav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.nav-item {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s, border-bottom 0.3s;
  border-right: 1px solid black;
}

.nav-item.active {
  color: #CC7722;
  border-bottom: 2px solid #CC7722;
}

.detailcontent {
  border-radius: 10px;
  padding: 20px;
}

.detailsection {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .detailnav {
    gap: 15px;
    margin-bottom: 15px;
  }

  .nav-item {
    font-size: 14px;
    padding: 8px;
  }

  .detailsection {
    flex-direction: column;
    gap: 30px;
    padding:10px;
  }
  .detailsection img{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  /* .container {
    padding: 10px;
  }

  .detailnav {
    gap: 10px;
    margin-bottom: 10px;
  }

  .nav-item {
    font-size: 12px;
    padding: 6px;
  }

  .detailsection {
    flex-direction: column;
    gap: 20px;
  }

  .detailcontent {
    padding: 15px;
  } */
}
/* CSS Animations */
.fade1-enter {
  opacity: 0;
  transform: translateY(50px);
}
.fade1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade1-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade1-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}
