.coursecard{
    display: flex;
    gap: 15px;
    width: 500px;
    height: auto;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #CC7722;
    border-radius: 20px;
}
.card_img{
    width:200px;
    height: auto;
    border-radius: 10px;
    
}
.card_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.courses_card_contents{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.courses_button{
    display: flex;
    gap: 25px;
}
/* table tr{
    padding: 10px;
    border-collapse: collapse
}
table tr {
    border-bottom:2px solid #252525;
    border-left:2px solid #252525 ;
}
table tr td{
    border-bottom:2px solid #252525;
    border-left:2px solid #252525 ;
    padding: 5px;
} */
table {
    border-collapse: collapse;
  }
  tr{
    padding: 10px;
  }
  td {
    border-bottom: 1px solid black; 
    padding: 5px;
  }
  tr td:nth-child(2) {
    border-left: 1px solid black; 
  }
  
  tr td:first-child {
    font-weight: bold; /* Bold text for the first column */
  }
#view{
    border: none;
    outline: none;
    padding: 0px;
    width: 120px;
    height: 35px;
    background-color: #CC7722;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 2vh;
}
#enroll{
    border: none;
    outline: none;
    width: 120px;
    /* padding: 10px; */
    background-color: #252525;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 2vh;
}