  .faq-container {
    /* max-width: 800px; */
    /* margin: 40px auto; */
    /* padding: 20px; */
    /* background: #fffaf0; */
    /* border-radius: 8px; */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    width: 100%;
    display: flex;
    padding: 50px;
    gap: 50px;
    background-color: #FFF8E7;
  }
  .faqleft{
    width: 30%;
  }
  .faqleft img{
    width: 100%;
    border-radius: 300px;
  }
  .faqright{
    width: 70%;
  }
  
  .faq-title {
    color: #CC7722;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .faq-list {
    border-top: 1px solid black;
  }
  
  .faq-item {
    border-bottom: 1px solid black;
    padding: 15px 0;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  /* .faq-item:hover {
     background: #fef6e4; 
  } */
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: black;
  }
  .faq-question span{
    color: black;
  }
  
  .faq-icon {
    font-size: 18px;
    color: black;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .faq-answer.open {
    max-height: 100px;
    opacity: 1;
    padding-top: 10px;
  }
  
  .faq-answer p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  