.how-to-book1 {
    text-align: center;
    padding: 20px;
    background-color: #FFF8E7;
    /* margin-top: 100px; */
  }
  
  .how-to-book1 h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .steps-container1 {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 50px;
    box-sizing: border-box;
    /* border: 2px dotted #ffa500; */
  }
  
  .step-card-wrapper1 {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
    display: flex;
    border: 3px dotted orange;
    padding: 7px;
    border-radius: 18px;
    justify-content: center;
    align-items: stretch; 
    box-sizing: border-box;
  }
  
  .step-card1 {
    background-color:transparent;
    color: black;
    padding: 20px;
    border: 2px solid #ffa500;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; 
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .step-card1 h3 {
    font-size: 4.5vh;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .step-card1 p {
    font-size: 3vh;
    line-height: 1.5;
    color: rgb(108, 107, 107);
  }
  .step-card1 button{
    /* position: relative; */
    margin: 0 auto;
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    font-size: 2.5vh;
    border-radius: 5px;
    border: 2px solid #CC7722;
    background-color: transparent;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 0px;
    padding: 5px;
  }
  .step-card1 button svg{
    width: 100%;
    height: 100%;
  }
  .step-card1 button span{
    color: #003087;
    /* margin-left: -10px; */
    /* margin-bottom: 5px; */
    font-size: 3vh;
    font-weight: 600;
    /* position: absolute;
    left: 90px; */
  }
  
  
  @media (max-width: 1024px) {
    .step-card-wrapper1 {
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }
  

  @media (max-width: 768px) {
    .step-card-wrapper1 {
      flex: 1 1 100%; 
      max-width: 100%;
    }
    .steps-container1{
        padding: 10px;
        gap: 30px;
    }
    .step-card1 h3{
        font-size: 3.5vh;
    }
    .steps-container1 p{
        font-size: 2vh;
    }
    .steps-container1 button{
        font-size: 2.2vh;
        font-weight: 600;
        height: 40px;
    }
    .how-to-book1 h2{
        font-size: 4vh;
        text-align: left;
        margin-left: 15px;
        /* text-align: justify; */
    }
  }
  