/* .workshop{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: url('https://s3-alpha-sig.figma.com/img/67be/156f/ca9fcea48dde493454cfdceb63e7d892?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSnm3Iw5~WvJ7jy6oma0RLyZM1ApHST-tvB9ccu2FpuRRk18O7vOngqRwcAbtk~hU~Pvpn-TIEVv7Tr1mvIbQd8TyMa6PCk14e-sDfRGyH1PU~KtOzWHFCcNfmBJhmDf-NGGmlJdXbMmi8v8VWQgqwyGaPdaVfL-PyssDs~bCMOtQBX9yK6gGe2aEm3d936LdDxZwg7WozpWZeMtJUUUQnPCOXPZ0wdP~DStmQw7~lotmt2tT5UlOfu4eVldfVraQ0GkvMEDDDMdqozk84yJATTv9k8-xZcE7LTtk~KYI6LscSIU-mHSR3BfNJRrZVMnaOkI~9UPBknl8vRPwnZnHw__');
}
.workshop h1{
    text-align: center;
    margin-top: 50px;
    color: #243642;
}
.workshopdisplay{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.workshop_left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    width: 200px;
    align-items: center;

}
.workshop_left p{
    width: 200px;
    font-size: 2.5vh;
    font-weight: 600;
    text-align: center;
}
.centerworkshopcard  p{
    width: 300px;
    font-size: 2.5vh;
    font-weight: 600;
    text-align: center;
}
.workshopcard img{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    object-fit: contain;
}

.centerworkshopcard {
    position: relative;
    width: 300px;
    border-radius: 15px; 
    overflow: hidden;
}

.centerworkshopcard img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 15px;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .content {
    position: absolute;
    top: 10px;
   
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.8s ease;
    gap: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  
  .centerworkshopcard:hover .overlay {
    transform: translateY(0);
  }

  .centerworkshopcard:hover .content {
    transform: translateY(0);
  }
  
  .content button{
    border: none;
    outline: none;
    background-color: #243642;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .hoverbuttons{
    display: flex;
    gap: 20px;
}
  .hovercontent{
    height: 100px;
    display: flex;
    gap: 10px;
  }
  .hovercontent h1{
    font-size: 4vh;
  }
  .hovercontent img{
    width: 100px;
    height: 100px;
  }
  .hovertable{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hovertable h4{
    color: black;
  }
span{
    color: #FF8E28;
} */
.workshop{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background: url('https://s3-alpha-sig.figma.com/img/67be/156f/ca9fcea48dde493454cfdceb63e7d892?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSnm3Iw5~WvJ7jy6oma0RLyZM1ApHST-tvB9ccu2FpuRRk18O7vOngqRwcAbtk~hU~Pvpn-TIEVv7Tr1mvIbQd8TyMa6PCk14e-sDfRGyH1PU~KtOzWHFCcNfmBJhmDf-NGGmlJdXbMmi8v8VWQgqwyGaPdaVfL-PyssDs~bCMOtQBX9yK6gGe2aEm3d936LdDxZwg7WozpWZeMtJUUUQnPCOXPZ0wdP~DStmQw7~lotmt2tT5UlOfu4eVldfVraQ0GkvMEDDDMdqozk84yJATTv9k8-xZcE7LTtk~KYI6LscSIU-mHSR3BfNJRrZVMnaOkI~9UPBknl8vRPwnZnHw__');
}
.workshop h1{
  text-align: center;
  margin-top: 50px;
  color: #243642;
}
.workshopdisplay{
  display: flex;
  gap: 50px;
  justify-content: center;
}
.workshop_left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  width: 200px;
  align-items: center;

}
.workshop_left p{
  width: 200px;
  font-size: 2.5vh;
  font-weight: 600;
  text-align: center;
}
.centerworkshopcard  p{
  width: 300px;
  font-size: 2.5vh;
  font-weight: 600;
  text-align: center;
}
.workshopcard img{
  width: 100%;
  height: 150px;
  border-radius: 15px;
  object-fit: contain;
}

.centerworkshopcard {
  position: relative;
  width: 300px;
  border-radius: 15px; 
  overflow: hidden;
}

.centerworkshopcard img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  border-radius: 15px;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.content {
  position: absolute;
  top: 10px;
 
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.8s ease;
  gap: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}


.centerworkshopcard:hover .overlay {
  transform: translateY(0);
}

.centerworkshopcard:hover .content {
  transform: translateY(0);
}

.content button{
  border: none;
  outline: none;
  background-color: #243642;
  padding: 10px 20px;
  border-radius: 20px;
}
.hoverbuttons{
  display: flex;
  gap: 20px;
}
.hovercontent{
  height: 100px;
  display: flex;
  gap: 10px;
}
.hovercontent h1{
  font-size: 4vh;
}
.hovercontent img{
  width: 100px;
  height: 100px;
}
.hovertable{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hovertable h4{
  color: black;
}
span{
  color: #FF8E28;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .workshop{
    width: 100%;
    padding: 20px;
  }
  .workshop_left{
    width: 90%;
  }
  .workshop_left img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .workshopdisplay{
    flex-direction: column;
  }
  .workshop h1 {
      font-size: 3vh;
  }

  .workshopcard img {
      height: 120px;
  }

  .content button {
      font-size: 1.6vh;
      background-color: #FF8E28;
  }
  .workshop_left{
    height: auto;
  }
}

@media (max-width: 480px) {
  /* .workshop h1 {
      font-size: 2vh;
  }

  .hovercontent h1 {
      font-size: 2.5vh;
  }

  .hovercontent img {
      width: 60px;
      height: 60px;
  }

  .content button {
      padding: 8px 15px;
      font-size: 1.4vh;
  } */
}


/* portrait mobile and tablet */
@media (min-width: 768px) and (max-width: 1024px){
  
 }
 
 /* desktop mobile view */
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .workshopcard p{
      font-size: 1.5vh;
    }
    .centerworkshopcard p{
      font-size: 0.7vh;
    }
    .hovercontent h1{
      font-size: 1.5vh;
    }
 }
 
 @media (min-width: 1920px) {
     
 }
