/* Original Styles */
.yogaclasses {
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
    padding: 60px;
    background: url('https://s3-alpha-sig.figma.com/img/67be/156f/ca9fcea48dde493454cfdceb63e7d892?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XSnm3Iw5~WvJ7jy6oma0RLyZM1ApHST-tvB9ccu2FpuRRk18O7vOngqRwcAbtk~hU~Pvpn-TIEVv7Tr1mvIbQd8TyMa6PCk14e-sDfRGyH1PU~KtOzWHFCcNfmBJhmDf-NGGmlJdXbMmi8v8VWQgqwyGaPdaVfL-PyssDs~bCMOtQBX9yK6gGe2aEm3d936LdDxZwg7WozpWZeMtJUUUQnPCOXPZ0wdP~DStmQw7~lotmt2tT5UlOfu4eVldfVraQ0GkvMEDDDMdqozk84yJATTv9k8-xZcE7LTtk~KYI6LscSIU-mHSR3BfNJRrZVMnaOkI~9UPBknl8vRPwnZnHw__');
}
.headeryoga {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.headeryoga h1 {
    font-size: 7vh;
    color: #243642;
    /* align-self: start; */
}
.line {
    background-color: #CC7722;
    width: 570px;
    height: 3px;
    border-radius: 5px;
    margin-left: 10px;
}
.yogaclasseshome {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.yogaclassesleft {
    width: 50%;
}
.yogaclassesleft h3{
    font-size: 4vh;
}
.yogaclassesleft p {
    margin-bottom: 30px;
    margin-top: 5px;
    line-height: 25px;
    font-size: 2.5vh;
}
.yogaclassesright {
    width: 50%;
    border: 1px solid #F69F5A;
    background-color: #FFDDC0;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}
.yogaclassesright h3{
    /* align-self: center; */
    margin-left: 28px;
}
.yogaclassesright form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}
.yogaclassesright form input {
    width: 90%;
    height: 50px;
    border-radius: 14px;
    color: #8C8C8C;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #C8C8C8;
    outline: none;
}
.yogaclassesright form button {
    background-color: #CC7722;
    outline: none;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    align-self: center;
    cursor: pointer;
}
.ratings {
    display: flex;
    align-items: center;
}
.ratings p {
    font-size: 3vh;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .yogaclasses{
        width: 100%;
        padding: 0px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .headeryoga{
        width: 90%;
    }
    .headeryoga h1{
        font-size: 4.5vh;
        margin-top: 20px;
    }
    .line{
        width: auto;
    }
    .yogaclasseshome{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yogaclassesleft{
        width: 90%;
    }
    .yogaclassesright{
        width: 90%;
    }
    .yogaclassesleft h3{
        font-size: 3vh;
        margin-bottom: 15px;
    }
    .yogaclassesleft p{
        font-size: 2vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px){

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .yogaclasseshome{
        flex-direction: column;
    }
    .yogaclassesleft{
        width: 100%;
    }
    .yogaclassesleft p{
        font-size: 0.7vh;
        line-height: 30px;
    }
    .ratings p{
        font-size: 2vh;
    }
    .yogaclassesright{
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .yogaclassesleft h3{
        color: green;
     }
}



